* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.background {
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url("./images/background.jpg");
  background-repeat: none;
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 25px;
}

nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.movie-title-nav {
  font-weight: bold;
}

.nav-links {
  position: absolute;
  right: 0;
  padding: 0 15px;
}

.nav-links>a {
  margin: 0 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-family: "Rakkas";
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: white;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
  color: white;
  height:50vh;
  font-family: "Indie+Flower"; /*font wont change*/
}