* {
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  background-color: var(--primary-color);
  height: 30px;
  min-width: 400px;
  padding: 20px;
  margin-bottom: 25px;
}

nav > *,
nav > div > * {
  display: inline;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

nav > *:not(div) {
  float: left;
}

nav > div {
  float: right;
}

.nav-brand {
  letter-spacing: -1px;
}

.content {
  color: white;
}

h1,
h2,
h3 {
  text-align: center;
}

h1,
h2 {
  font-family: "Francois One", sans-serif;
}

h1 {
  font-size: 150px;
}

h2 {
  font-size: 45px;
  margin-bottom: 45px;
}

h3,
.prequel-link,
.sequel-link {
  font-size: 55px;
  margin-top: 50px;
}

nav > *,
h3,
p {
  font-family: "Poppins", sans-serif;
}

.prequel-link,
.sequel-link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
  transition: color 0.3s ease-in-out;
}

.prequel-link:hover,
.sequel-link:hover {
  color: var(--primary-color);
}

.hype,
.sequel,
.prequel {
  color: var(--primary-color);
}

.summary {
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
  min-width: 400px;
  font-size: 30px;
}

form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 25px 0;
  padding: 50px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
}

form > * {
  display: block;
}

form > div > label {
  margin-right: 150px;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

/* Everything in the form element and its children except input element */
form > *,
form > * > *:not(input) {
  display: block;
  margin: 0 auto;
  text-align: center;
}

input[type="text"] {
  padding: 10px 15px;
  font-size: 20px;
  margin-bottom: 35px;
  outline-color: var(--primary-color);
}

#submit {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 3px;
}

#submit:hover {
  background-color: var(--primary-color);
}