* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 255, .15)), url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  items-align: center;
  justify-content: center;
  color: white;
  height: 100%;
}

.content-container {
  flex-direction: row;
}

h1 {
  font-size: 8vw;
}

h2 {
  font-size: 3vw;
  margin-bottom: 35px;
}

h3 {
  font-size: 2vw;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: 'Francois One', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

.summary {
  max-width: calc(100vw - (256px * 2) - 38px);
  text-align: center;
  font-size: 1.5vw;
  text-align: center;
  margin: 0 auto;
}

.earthquake {
  /*float: left;  */
}

.hurricane {
  /*float: right;*/
}

.images {
  width: 100vw;
}

img {
  display: block;
  width: 256px;
  height: 256px;
  border: 4px solid white;
  margin: 0 auto;
}

.
hurricane > img {
  float: left;
}

.earthquake > img {
  float: right;
}