* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 255, .15)), url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.content {
  color: white;
}

p {
  float: left;
  max-width: calc(100vw - (256px * 2) - 28px);
  text-align: center;
  font-size: 2.5vw;
  text-align: center;
}

.earthquake,
.hurricane {
  float: left;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  border: 4px solid white;
}