* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 255, 0.15)), url("../images/background.jpg");
  background-repeat: none;
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 25px;
}

nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.movie-title-nav {
  font-weight: bold;
}

.nav-links {
  position: absolute;
  right: 0;
  padding: 0 15px;
}

.nav-links>a {
  margin: 0 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: white;
  margin: 80px;
}

p {
  font-size: 2rem;
  text-align: center;
  color: white;
  margin: 20px;
}
